body {
	background: $grey;
	font-family: Helvetica, Arial, sans-serif;
}

h1 { color: $blue; }

.img-test {
	border: 2px solid black;
	background-image: url('../../img/yosemite.jpg');
	width: 1000px;
	height: 1000px;
}


